body {
  background-image: url('ryoji-iwata-U-L8q6L5FU0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #ffc107;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

header button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency by changing the alpha value */
  backdrop-filter: blur(10px); /* Adjust the blur intensity */
  padding: 20px;
}

main {
  flex: 1;
  overflow-y: auto;
}

form {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

form input {
  flex: 1;
  font-size: 1rem;
  background: transparent;
  border: none;
  padding: 10px;
}

form button {
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 20px;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-in-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sign-in-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

.sign-in-form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-form button:hover {
  background-color: #ffa000;
}

.message {
  display: flex;
  align-items: flex-start;
  max-width: 80%;
  margin-bottom: 10px;
}

.sent p {
  background: #ffc107;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.received p {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 20px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
}

.sent .message {
  margin-left: auto;
}

.received .message {
  margin-right: auto;
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  header img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
